/* global elements */

/* 
npc 라인: 3초
플레이어 라인: 2초
애니메이션 딜레이: 0.5초
*/

.container {
    background-image: url("../image/1st_floor_lounge/라운지-배경.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100vw auto;
    height: 56.25vw;
}


.fade-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
    height: 56.25vw;
    background-color: #000000;
    z-index: 1000;
}

    .fade-in-start/* used for the very start */ {
        opacity: 1;
        animation: fadein 4s both;
    }

    .fade-in {
        opacity: 1;
        animation: fadein 2s both;
    }

    .fade-out {
        opacity: 0;
        animation: fadeout 2s both;
    }


@keyframes fadein {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 0;}
    to {opacity: 1;}
}


.gif {
    position: absolute;
    z-index: 0;
}

    .gif:hover {
        cursor: pointer;
    }

.avatar {
    position: absolute;
    z-index: 20;
}

.clicker {
    color: blue;
    font-family: 'Noto Serif KR', serif;
    font-size: var(--player-font-size);
}
    
    .clicker:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.dialogue {
    display: none;
    z-index: 10;
}

    .dialogue-box {
        position: absolute;
        top: 36.5vw;
        left: 24vw;
        width: 62vw;
        height: 18vw;
        background-color: #FFF;
        border: #000000 3px solid;
        border-radius: 20px;
        z-index: 10;
    }

    .name {
        font-family: 'Noto Serif KR', serif;
        font-size: 1.7vw;
        margin: 1.5vw 0 0 6vw;
        font-weight: bold;
    }

    /* line */
    :root {
        --font-size: 1.2vw;
        --first-line: 0.7vw 0 0 6vw;
        --bottom-line-single: 9vw 0 0 6vw;
        --bottom-line-double: 7.3vw 0 0 6vw;/*differnece: 1.6vw*/
        --bottom-line-triple: 5.7vw 0 0 6vw;
        --bottom-line-quadruple: 4.1vw 0 0 6vw;
        --bottom-line-quintuple: 2.6vw 0 0 6vw;
        --line-height: 1.5;
    }

    .line {
        font-family: 'Noto Serif KR', serif;
        overflow: hidden; 
        white-space: nowrap;
        display: none;
        font-size: var(--font-size);
        line-height: var(--line-height);
        max-width: 55vw;
    }

        .npc-line {
            margin: var(--first-line);
        }

        .player-line {
            margin: var(--bottom-line-single);
        }

/* bartender */

    .bartender__gif {
        width: 10vw;
        top: 20.7vw;
        left: 12.58vw;
    }

    .clicker-1-1:hover {
        color: #fdb815;
    }

    .clicker-1-2:hover {
        color: #c82400;
    }

    .clicker-1-3:hover {
        color: #3d2922;
    }

    .clicker-1-4:hover {
        background: linear-gradient(to right, #f2362d, #ffe747);
        background-clip: text; 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
    }

/* big-hyun */

    .big-hyun__gif {
        width: 15vw;
        top: 23vw;
        left: 75vw;
    }

    .big-hyun__avatar {
        width: 15.4vw;
        top: 33.8vw;
        left: 14vw;
    }

/* lines */

    .line-0-1 {animation: typing 3s 0.5s linear backwards;}

    .line-0-2 {animation: typing 3s 3.5s linear backwards; margin-top: 0vw;}

    .line-1 {animation: typing 2s 0.5s linear backwards;}

    .line-1-1 {animation: typing 2s 1.5s linear backwards; margin-top: 0vw;}

    .line-1-2 {animation: typing 2s 2s linear backwards; margin-top: 0vw;}

    .line-1-3 {animation: typing 2s 2.5s linear backwards; margin-top: 0vw;}

    .line-1-4 {animation: typing 2s 3s linear backwards; margin-top: 0vw;}

    .line-1-5 {animation: typing 2s 3.5s linear backwards; margin: var(--bottom-line-quintuple);}


    .line-2-1 {animation: typing 5s 0.5s linear backwards;}

    .line-2-2 {animation: typing 5s 0.5s linear backwards;}

    .line-2-3 {animation: typing 5s 0.5s linear backwards;}

    .line-2-4-1 {animation: typing 3s 1s linear backwards;}

    .line-2-4-2 {animation: typing 5s 4s linear backwards; margin-top: 0vw;}

    .line-2-4-3 {animation: typing 5s 9s linear backwards; margin-top: 0vw;}

    .line-2-4-4 {animation: typing 14s 14s linear backwards; margin-top: 0vw;}


    .line-3 {animation: typing 3s 0.5s linear backwards;}

    .line-3-1 {animation: typing 2s 2.5s linear backwards; margin: var(--bottom-line-double);}

    .line-3-2 {animation: typing 2s 3.5s linear backwards; margin-top: 0vw;}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

/* gif */

    /* coffee machine */

    .coffee {
        width: 12vw;
        position: absolute;
        top: 24vw;
        left: 0vw;
    }


    /* lightbulb */

    .lightbulb {
        width: 27vw;
        position: absolute;
        top: 0vw;
        left: 11vw;}

        .lightbulb1 {display: block;} 
        .lightbulb2 {display: none;} 


    /* people */

    .people {
        width: 27vw;
        position: absolute;
        top: 22vw;
        left: 30vw;}

        .people1 {display: block;} 
        .people2 {display: none;} 