/* background */

.container {
    background-image: url("../image/1st_floor_lobby/로비-배경.jpg");   
}


/*//// 1st floor elements ////*/

/* small-hyun elements*/

    .small-hyun__gif {
        width: 11vw;
        top: 26.3vw;
        left: 17vw;
    }

    .movingarrow__small-hyun {
        top: 21vw;
        left: 20vw;
    }

    .small-hyun__avatar {
        width: 18vw;
        top: 33.7vw;
        left: 11vw;
    }

    input[type=text] {
        height: 2vw;
        width: 12vw;
        padding: 2px 4px;
        margin-left: 0.5vw;
        border-radius: 4px;
        border: 1px solid #cccccc;
        font-family: 'Noto Serif KR', serif;   
        font-size: 1.3vw;
    }

    input[type=submit] {
        margin-left: 0.3vw;
        font-size: 1.2vw;
        background-color: #FFF;
        border: none;
    }


/* big-hyun elements */

    .big-hyun__gif {
        width: 10vw;
        top: 21vw;
        left: 53vw;
    }

    .movingarrow__big-hyun {
        top: 15.5vw;
        left: 57vw;
    }

    .big-hyun__avatar {
        width: 15.4vw;
        top: 33.8vw;
        left: 14vw;
    }

    .big-hyun__map {
        display: none;
    }

    .big-hyun__mapimg {
        position: absolute;
        top: 0.5vw;
        left: 50%;
        transform: translateX(-50%);
        height: 34vw;
        z-index: 15;
        display: none;
    }
        
    
/* gold-plate elements*/

    .gold-plate__gif {
        width: 8vw;
        top: 9.6vw;
        left: 64.2vw;
        z-index: 0;
    }

    .movingarrow__gold-plate {
        top: 5vw;
        left: 67.5vw;
    }

    .gold-plate__mission-box {
        top: 4vw;
        left: 50%;
        transform: translateX(-50%);
        height: 30vw;
        border: none;
        border-radius: 0;
        background-color: #000000;
        opacity: 0.8;
    }

    .gold-plate__line {
        opacity: 1; 
        color:white;
        line-height: 3;
        max-width: 52vw;
        position: absolute;
    }

    .gold-plate__dialogue-box {
        display: none;
    }

/* link to lounge */

    .lounge-link__clicker {
        position: absolute;
        top: 21vw;
        left: 40vw;
        width: 7vw;
        height: 12vw;
    }

    .movingarrow__link {
        top: 16.5vw;
        left: 45vw;
    }


/*lines */
    /* gold-plate lines */
    /* --> mission statement */
    .gold-plate__name {
        margin: 3vw 0 2vw 30vw;
        color: white;
        max-width: 5vw;
        overflow: hidden; 
        white-space: nowrap;
        animation: typing 1.5s 0.5s linear backwards;}

    .line-24 {
        margin: 0 0 0 6vw;
        max-width: 3vw;
        animation: typing 1.5s 1.5s linear backwards;}

    .line-25 {
        margin: 0 0 0 9vw;
        max-width: 50vw;
        animation: typing 1.5s 2.5s linear backwards}

    .line-26 {
        margin: 4vw 0 0 6vw;
        max-width: 3vw;
        animation: typing 1.5s 4.5s /*+2s*/linear backwards}

    .line-27 {
        margin: 4vw 0 0 7.9vw;
        max-width: 50vw;
        animation: typing 1.5s 5.5s linear backwards}

    .line-28 {
        margin: 8vw 0 0 7.9vw;
        max-width: 50vw;
        animation: typing 1.5s 7s linear backwards}

    .line-29 {
        margin: 12vw 0 0 6vw;
        max-width: 3vw;
        animation: typing 1.5s 8.5s linear backwards}

    .line-30 {
        margin: 12vw 0 0 7.9vw;
        max-width: 50vw;
        animation: typing 1.5s 9.5s linear backwards}

    .line-31 {
        margin: 16vw 0 0 7.9vw;
        max-width: 50vw;
        animation: typing 1.5s 11s /*+1.5s*/linear backwards}

    @keyframes typing {
        from {width: 0;}
        to {width: 100%;}
    }


/* gif elements */

    /* employee */

    .employee {
        width: 8.5vw;
        position: absolute;
        top: 22.5vw;
        left: 27.4vw;}

        .employee2 {display: none;} 
        .employee3 {display: none;}

    /* boy */

    .boy {
        width: 7vw;
        position: absolute;
        top: 24.5vw;
        left: 47vw;}

        .boy1 {display: block;} 
        .boy2 {display: none;} 


    /* arrow */

    .arrow {
        width: 5vw;
        position: absolute;
        top: 7vw;
        left: 92vw;}

        .arrow1 {display: block;} 
        .arrow2 {display: none;} 
        .arrow3 {display: none;}


