/* background */
.container {
    background-image: url("../image/1st_floor_lounge/라운지-배경.jpg");
}
        

/* lounge elements */

/* bartender */

    .movingarrow__bartender {
        top: 16vw;
        left: 16vw;
    }

    .bartender__gif {
        width: 10vw;
        top: 20.7vw;
        left: 12.58vw;
    }

    .clicker-1-1, .clicker-1-1:hover {
        color: #c54f02;
    }

    .clicker-1-2, .clicker-1-2:hover {
        color: #eac38e;
    }

    .clicker-1-3, .clicker-1-3:hover {
        color: #3d2922;
    }

    .clicker-1-4, .clicker-1-4:hover {
        background: linear-gradient(to right, #f2362d, #ffe747);
        background-clip: text; 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .clicker-1-4:hover {
        text-decoration: none;
        border-bottom: 0.15vw solid transparent;
        border-image: linear-gradient(to right, #f2362d, #ffe747);
        border-image-slice: 1;
        line-height: 1.2vw;
        display: inline-block;
    }


/* big-hyun */

    .big-hyun__gif {
        width: 14vw;
        top: 24vw;
        left: 75vw;
        z-index: 1;
    }

    .big-hyun__avatar {
        width: 15.4vw;
        top: 33.8vw;
        left: 13vw;
    }


/* elevator */

    .movingarrow__elevator {
        top: 21.5vw;
        left: 83.3vw;
    }

    .elevator__button {
        width: 3vw;
        top: 27vw;
        left: 83vw;
    }   

    .button-on {display: none;}

    .elevator__alarm {
        position: absolute;
        width: 7vw;
        top: 14vw;
        left: 81vw;
    }

    .alarm-on {
        animation: flash 0.6s 400ms ease-out infinite alternate backwards;
        display: none;
    }



/* lines */



/* gif */

    /* coffee machine */

    .coffee {
        width: 12vw;
        top: 24vw;
        left: 0vw;
    }


    /* lightbulb */

    .lightbulb {
        width: 27vw;
        top: 0vw;
        left: 11vw;}

        .lightbulb1 {display: block;} 
        .lightbulb2 {display: none;} 


    /* people */

    .people {
        width: 27vw;
        top: 22vw;
        left: 30vw;}

        .people1 {display: block;} 
        .people2 {display: none;} 