/* background */
.container {
    background-image: url("../image/2nd_floor/2층-배경.jpg");
}


/* clock */

    .clock {
        width: 15vw;
        position: absolute;
        top: 10.4vw;
        left: 6.2vw;}

        .clock1 {display: block;} 
        .clock2 {display: none;} 
        .clock3 {display: none;} 
        .clock4 {display: none;} 
        .clock5 {display: none;} 
        .clock6 {display: none;} 
        .clock7 {display: none;} 
        .clock8 {display: none;} 
        .clock9 {display: none;} 
        .clock10 {display: none;} 
        .clock11 {display: none;} 
        .clock12 {display: none;} 

/* reception */

    .reception__gif {
        width: 22vw;
        top: 26.7vw;
        left: 13.5vw;
    }

    .movingarrow__businesscenter {
        top: 22vw;
        left: 23vw;
    }

    .movingarrow__big-hyun {
        top: 26.5vw;
        left: 77.5vw;
    }

    .room {
        position: absolute;
        top: 3.5vw;
        left: 50%;
        transform: translateX(-50%);
        width: 40vw;
        z-index: 11;
        display: none;
    }

/* handshake */

    .handshake {
        width: 16vw;
        position: absolute;
        top: 26vw;
        left: 49vw;}

        .handshake1 {display: block;} 
        .handshake2 {display: none;} 
        .handshake3 {display: none;} 



/* copier */

    .copier {
        width: 7vw;
        position: absolute;
        top: 29vw;
        left: 66vw;
    }

    .paper {
        width: 6vw;
        position: absolute;
        top: 27vw;
        left: 65.5vw;}

        .paper1 {display: none;} 
        .paper2 {display: none;} 
        .paper3 {display: none;} 
        .paper4 {display: none;} 
        .paper5 {display: none;} 
        .paper6 {display: none;} 
        .paper7 {display: none;}   

/* big-hyun */

    .big-hyun__gif {
        width: 10vw;
        top: 31vw;
        left: 74vw;
        z-index:1;
        /* display:none; */
    }

    .big-hyun__avatar {
        width: 15.4vw;
        top: 33.8vw;
        left: 14vw;
    }

    .code {
        font-family: 'Roboto Mono', monospace;
        background-color: rgba(220,220,220,.5);
        border-radius: 2px;
    }

/* elevator */

    .movingarrow__elevator {
        top: 23.5vw;
        left: 83.5vw;
    }

    .elevator__button {
        width: 2.5vw;
        top: 29vw;
        left: 83.5vw;
    }   

    .button-on {display: none;}

    .elevator__alarm {
        position: absolute;
        width: 5.5vw;
        top: 16.5vw;
        left: 82vw;
        z-index: 0;
    }

    .alarm-on {
        animation: flash 0.6s 400ms ease-out infinite alternate backwards;
        display: none;
    }
