
.container {
    background-image: url("../image/3rd_floor/3rd_background.jpg");
}


/* arrows */
    /* .movingarrow {display: block;} */
    .movingarrow__swimming{
        top: 13vw;
        left: 12.5vw;
    }

    .movingarrow__fitness{
        top: 13vw;
        left: 22.5vw;
    }

    .movingarrow__spa{
        top: 13vw;
        left: 29vw;
    }

    .movingarrow__movie {
        top: 9vw;
        left: 51vw;
    }

    .movingarrow__restaurant {
        top: 24vw;
        left: 66vw;
    }



/* fade out for sounds */
    

    i {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3vw;
        color: rgba(255, 255, 255, 0.562);
    }

    .fade-box__sound {
        background-color: #141318;
        display: none;
    }

    .soundicon {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        width: 10vw;
        /* font-size: 3vw;
        color: rgba(255, 255, 255, 0.562); */
    }




/* gif */
    
    /* logo */
    .logo {
        position: absolute;
        width: 7vw;
        top: 1vw;
        left: 18vw;}
    
    .logo1 {display: block;} 
    .logo2 {display: none;} 
    .logo3 {display: none;} 


    /* popcorn */
    .popcorn {
        position: absolute;
        width: 9vw;
        top: 27.5vw;
        left: 38vw;}

        .popcorn1 {display: block;} 
        .popcorn2 {display: none;} 
        .popcorn3 {display: none;} 
        .popcorn4 {display: none;} 
        .popcorn5 {display: none;} 
        .popcorn6 {display: none;} 

    
    /* picture */
    .picture {
        position: absolute;
        width: 6vw;
        top: 17vw;
        left: 67vw;}

        .picture1 {display: block;} 
        .picture2 {display: none;} 
        .picture3 {display: none;} 

    
    /* couple */
    .couple {
        position: absolute;
        width: 15vw;
        top: 12vw;
        left: 24vw;}

    .couple1 {display: block;} 
    .couple2 {display: none;} 
    .couple3 {display: none;} 
    .couple4 {display: none;} 

    .gif-in {
        display: none;
        position: absolute;
        top: 20vw;
        left: 50%;
        transform: translateX(-50%);
        width: 20vw;
        z-index: 2001;
    }


/* swimming */
    .swimming__gif {
        width: 9vw;
        top: 16.5vw;
        left: 9.5vw;
    }

/* fitness */
    .fitness__gif {
        width: 8vw;
        top: 18vw;
        left: 19.5vw;
    }

/* spa */
    .spa__gif {
        width: 4vw;
        top: 17vw;
        left: 28vw;
    }

/* restaurant */
    .restaurant__gif {
        width: 8vw;
        top: 28vw;
        left: 63vw;
    }

/* movie */
    .movie__gif {
        width: 13.5vw;
        top: 12vw;
        left: 46vw;
    }

/* big-hyun */
    
    .big-hyun__gif {
        width: 10vw;
        top: 26vw;
        left: 87vw;
        /* display: block; */
        z-index: 1;
    }

    .big-hyun__avatar {
        width: 15.4vw;
        top: 33.8vw;
        left: 14vw;
    }

/* elevator */

    .movingarrow__elevator {
        top: 23.5vw;
        left: 83.5vw;
    }

    .elevator__button {
        width: 2.5vw;
        top: 29vw;
        left: 83.5vw;
    }   

    .button-on {display: none;}

    .elevator__alarm {
        position: absolute;
        width: 5.5vw;
        top: 16.5vw;
        left: 82vw;
        z-index: 0;
    }

    .alarm-on {
        animation: flash 0.6s 400ms ease-out infinite alternate backwards;
        display: none;
    }
