
.container {
    background-image: url("../image/4th_floor/background.jpg");
}

.dialogue-box2 {
    position: absolute;
    top: 35vw; 
    left: 24vw;
    width: 62vw;
    height: 20vw; 
    z-index: 15;
    opacity: 1;
    display: none;
}

.dialogue-box {
    opacity: 0.8;
}


/* arrows */
    /* .movingarrow {display: block;} */

    .movingarrow__big-hyun{
        top: 32vw;
        left: 40.5vw;
    }

    .movingarrow__elevator{
        top: 13vw;
        left: 22.5vw;
    }



/* big-hyun */

    .big-hyun__gif {
        width: 6vw;
        top: 37vw;
        left: 38vw;
        /* display: none; */
    }

    .big-hyun__avatar {
        width: 15.4vw;
        top: 33.8vw;
        left: 14vw;
    }

/* rooms */
    
    .door {position: absolute;}
    
    .room {
        position: absolute;
        top: 0vw;
        left: 50%;
        transform: translateX(-50%);
        width: 70vw;
        z-index: 12;
        display: none;
    }

    
    /* 401 */
    .door__401 {
        top: 30.71vw;
        left: 8.9vw;
        width: 6.6vw;
    }

    .door401__2 {display: none;} 
    
    .avatar__401 {
        width: 18vw;
        top: 32vw;
        left: 10vw;
    }


    /* 402 */
    .door__402 {
        top: 25.55vw;
        left: 21.4vw;
        width: 6vw;}

    .door402__2 {display: none;} 

    .avatar__402 {
        width: 27vw;
        top: 33vw;
        left: 3vw;
        transform: rotateY(180deg);}


    /* 403 */
    .door__403 {
        top: 10.9vw;
        left: 33.4vw;
        width: 5vw;}

    .door403__2 {display: none;} 


    
    /* 404 */
    .door__404 {
        top: 7.1vw;
        left: 49vw;
        width: 4.9vw;}

        .door404__2 {display: none;} 


    .avatar__404 {
        width: 24vw;
        top: 32vw;
        left: 6.5vw;
    }

    /* 405 */
    .door__405 {
        top: 10.6vw;
        left: 59vw;
        width: 4.8vw;
    }

    .door405__2 {display: none;} 


    /* 406 */
    .door__406 {
        top: 23.6vw;
        left: 76.4vw;
        width: 4.9vw;}

        .door406__2 {display: none;} 


    .avatar__406 {
        width: 22vw;
        top: 32vw;
        left: 7vw;}

    .emoticon {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }


    /* 407 */
    .door__407 {
        top: 27.5vw;
        left: 88.4vw;
        width: 4.8vw;
    }

    .door407__2 {display: none;} 


    .avatar__d {
        width: 31vw;
        top: 31.2vw;
        left: -1.3vw;
    }
    .avatar__h {
        width: 18vw;
        top: 33.8vw;
        left: 11vw;
    }


/* elevator */

    .movingarrow__elevator {
        top: 32.5vw;
        left: 41.1vw;
    }

    .elevator__button {
        width: 2.5vw;
        top: 37vw;
        left: 41.1vw;
    }

    .button-on {display: none;}

    .elevator__alarm {
        position: absolute;
        width: 2.5vw;
        top: 32.3vw;
        left: 41.2vw;
        z-index: 0;
    }

    .alarm-on {
        animation: flash 0.6s 400ms ease-out infinite alternate backwards;
        display: none;
    }