/* global elements */

/* 
npc 라인: 3초
플레이어 라인: 2초
애니메이션 딜레이: 0.5초
*/

a:link, a:visited {
    text-decoration: none;
    color: blue;
}

.fade-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
    height: 56.25vw;
    background-color: #000000;
    z-index: 1000;
}

    .fade-in-start/* used for the very start */ {
        opacity: 1;
        animation: fadein 4s both;
    }

    .fade-in {
        opacity: 1;
        animation: fadein 2s linear both;
    }

    .fade-out {
        opacity: 0;
        animation: fadeout 2s both;
    }

@keyframes fadein {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 0;}
    to {opacity: 1;}
}

.container {
    background-image: url("../image/4th_floor/background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100vw auto;
    height: 56.25vw;
}

.gif {
    position: absolute;
    z-index: 0;
}

    .gif:hover {
        cursor: pointer;
    }

.avatar {
    position: absolute;
    z-index: 20;
}

.clicker {
    color: blue;
    font-family: 'Noto Serif KR', serif;
    font-size: var(--player-font-size);
}
    
    .clicker:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.arrow {
    animation: flash 0.6s 4.5s infinite alternate;
}

    .arrow:hover {
        cursor: pointer;
    }

    @keyframes flash {
        from {opacity: 0;}
        to {opacity: 1;}
    }

.transparent-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
    height: 56.25vw;
    background-color: #000000;
    opacity: 0.8;
    z-index: 5;
}

.dialogue {
    display: none;
    z-index: 10;
}

    .dialogue-box {
        position: absolute;
        top: 36.5vw;
        left: 24vw;
        width: 62vw;
        height: 18vw;
        background-color: #FFF;
        border: #000000 3px solid;
        border-radius: 20px;
        z-index: 10;
    }

    .dialogue-opacity-1 {
        position: absolute;
        top: 36.5vw;
        left: 24vw;
        width: 62vw;
        height: 18vw;
        z-index: 15;
        opacity: 1;
    }

    .name {
        font-family: 'Noto Serif KR', serif;
        font-size: 1.7vw;
        margin: 1.5vw 0 0 6vw;
        font-weight: bold;
        opacity: 1;
    }

    

    /* line */
    :root {
        --font-size: 1.2vw;
        --first-line: 0.7vw 0 0 6vw;
        --bottom-line-single: 9vw 0 0 6vw;
        --bottom-line-double: 7.3vw 0 0 6vw;/*differnece: 1.6vw*/
        --bottom-line-triple: 5.7vw 0 0 6vw;
        --bottom-line-quadra: 4.1vw 0 0 6vw;
        --bottom-line-penta: 2.6vw 0 0 6vw;
        --bottom-line-hexa: 1vw 0 0 6vw;
        --line-height: 1.5;
    }

    .line {
        font-family: 'Noto Serif KR', serif;
        overflow: hidden; 
        white-space: nowrap;
        display: none;
        font-size: var(--font-size);
        line-height: var(--line-height);
        max-width: 55vw;
        opacity: 2;
    }

        .npc-line {
            margin: var(--first-line);}

        .player-line {
            margin: var(--bottom-line-single);}

        @keyframes typing {
            from {width: 0;}
            to {width: 100%;}
        }

    strong { font-weight: bold; }


/* big-hyun */
    
        .big-hyun__gif {
            width: 6vw;
            top: 37vw;
            left: 38vw;
        }

        .big-hyun__avatar {
            width: 15.4vw;
            top: 33.8vw;
            left: 14vw;
        }

/* rooms */
    
    .door {position: absolute;}
    .wrapper {display: none;}
    .room {
        position: absolute;
        top: 0vw;
        left: 50%;
        transform: translateX(-50%);
        width: 70vw;
        z-index: 10;
    }

    /* 401 */
    .door__401 {
        top: 30.1vw;
        left: 9.6vw;
        width: 5.5vw;
    }
    .door401__1 {display: block;} 
    .door401__2 {display: none;} 
    .door401__3 {display: none;} 
    
    .avatar__401 {
        width: 18vw;
        top: 31vw;
        left: 10vw;
    }

    /* 402 */
    .door__402 {
        top: 25.1vw;
        left: 21.6vw;
        width: 5.5vw;}
    .door402__1 {display: block;} 
    .door402__2 {display: none;} 
    .door402__3 {display: none;} 

    .avatar__402 {
        width: 27vw;
        top: 33vw;
        left: 4vw;
        transform: rotateY(180deg);}


    /* 403 */
    .door__403 {
        top: 12vw;
        left: 33.1vw;
        width: 4.9vw;}
    .door403__1 {display: block;} 
    .door403__2 {display: none;} 
    .door403__3 {display: none;} 

    
    /* 404 */
    .door__404 {
        top: 6.8vw;
        left: 48.6vw;
        width: 5.4vw;}
        .door404__1 {display: block;} 
        .door404__2 {display: none;} 
        .door404__3 {display: none;} 

    .avatar__404 {
        width: 30vw;
        top: 33vw;
        left: 7vw;
        transform: rotateY(0deg);}


    /* 405 */
    .door__405 {
        top: 10.6vw;
        left: 58.9vw;
        width: 5.8vw;
    }
    .door405__1 {display: block;} 
    .door405__2 {display: none;} 
    .door405__3 {display: none;} 

    /* 406 */
    .door__406 {
        top: 23vw;
        left: 75.9vw;
        width: 7vw;}
        .door406__1 {display: block;} 
        .door406__2 {display: none;} 
        .door406__3 {display: none;} 

    .avatar__406 {
        width: 22vw;
        top: 32.5vw;
        left: 7vw;}
    .emoticon {font-family: sans-serif;}


    /* 407 */
    .door__407 {
        top: 27vw;
        left: 87.7vw;
        width: 7vw;
    }
    .door407__1 {display: block;} 
    .door407__2 {display: none;} 
    .door407__3 {display: none;} 

    .room__407-h {display: none;}
    .avatar__407-d {
        width: 28vw;
        top: 34.5vw;
        left: 2vw;
    }
    .avatar__407-h {
        width: 18vw;
        top: 33.8vw;
        left: 11vw;
        display: none;
    }


/* lines */

/* 401 */
.line-1-1-1 {animation: typing 2s 0.5s linear backwards;}
.line-1-1-2 {animation: typing 2s 1.5s linear backwards; margin: var(--bottom-line-double);}
.line-1-1-3 {animation: typing 2s 2s linear backwards; margin-top: 0vw;}

.line-1-2-1 {animation: typing 2s 0.5s linear backwards;}
.line-1-2-2 {animation: typing 2s 1.5s linear backwards;}

.line-1-3-1 {animation: typing 2s 0.5s linear backwards;}
.line-1-3-2 {animation: typing 2s 2.5s linear backwards;}

.line-1-4-1 {animation: typing 2s 0.5s linear backwards;}
.line-1-4-2 {animation: typing 2s 2.5s linear backwards;}

.line-1-5-1 {animation: typing 2s 0.5s linear backwards;}
.line-1-5-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0vw;}
.line-1-5-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0vw;}
.line-1-5-4 {animation: typing 2s 6.5s linear backwards;margin-top: 0vw;}
/* arrow */
.line-1-5-5 {animation: typing 2s 0.5s linear backwards;}
.line-1-5-6 {animation: typing 2s 2.5s linear backwards;margin-top: 0vw;}
.line-1-5-7 {animation: typing 2s 4.5s linear backwards; margin: var(--bottom-line-double);}

.line-1-6-1 {animation: typing 2s 0.5s linear backwards;}
.line-1-6-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0vw;}
.line-1-6-3 {animation: typing 2s 4.5s linear backwards;margin: var(--bottom-line-double);}

.line-1-7-1 {animation: typing 2s 0.5s linear backwards;}
.line-1-7-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0vw;}
.line-1-7-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0vw;}
.line-1-7-4 {animation: typing 2s 6.5s linear backwards;margin-top: 0vw;}
.line-1-7-5 {animation: typing 2s 8.5s linear backwards;margin-top: 0vw;}
.line-1-7-6 {animation: typing 2s 10.5s linear backwards;margin: var(--bottom-line-penta);}

.line-1-8-1 {animation: typing 2s 0.5s linear backwards;}
.line-1-8-2 {animation: typing 2s 2.5s linear backwards;}


/* 402 */
.line-2-1-1 {animation: typing 2s 0.5s linear backwards;}
.line-2-1-2 {animation: typing 2s 1.5s linear backwards; margin: var(--bottom-line-double);}
.line-2-1-3 {animation: typing 2s 2s linear backwards; margin-top: 0;}

.line-2-2-1 {animation: typing 2s 0.5s linear backwards;}
.line-2-2-2 {animation: typing 2s 2.5s linear backwards; margin-top: 0;}
.line-2-2-3 {animation: typing 2s 4.5s linear backwards; margin: var(--bottom-line-double);}

.line-2-3-1 {animation: typing 2s 0.5s linear backwards;}
.line-2-3-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-2-3-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-2-3-4 {animation: typing 2s 6.5s linear backwards;margin: var(--bottom-line-triple);}

.line-2-4-1 {animation: typing 2s 0.5s linear backwards;}
.line-2-4-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-2-4-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-2-4-4 {animation: typing 2s 6.5s linear backwards;margin-top: 0;}
.line-2-4-5 {animation: typing 2s 8.5s linear backwards;margin-top: 0;}
.line-2-4-6 {animation: typing 2s 10.5s linear backwards;margin: var(--bottom-line-penta);}

.line-2-4-10 {animation: typing 2s 8.5s linear backwards;}

.line-2-5-1 {animation: typing 2s 0.5s linear backwards;}
.line-2-5-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-2-5-3 {animation: typing 2s 4.5s linear backwards;margin: var(--bottom-line-double);}

.line-2-6-1 {animation: typing 2s 0.5s linear backwards;}
.line-2-6-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-2-6-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-2-6-4 {animation: typing 2s 6.5s linear backwards;margin-top: 0;}
/* arrow */
.line-2-6-5 {animation: typing 2s 0.5s linear backwards;}
.line-2-6-6 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-2-6-7 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-2-6-8 {animation: typing 2s 6.5s linear backwards;margin-top: 0;}
.line-2-6-9 {animation: typing 2s 8.5s linear backwards;margin: var(--bottom-line-penta);}
.line-2-6-10 {animation: typing 2s 10.5s linear backwards;margin-top: 0;}

.line-2-7-1 {animation: typing 2s 0.5s linear backwards;}
.line-2-7-2 {animation: typing 2s 2.5s linear backwards;}


/* 403 */
.line-3-1-1 {animation: typing 2s 0.5s linear backwards;}
.line-3-1-2 {animation: typing 2s 1.5s linear backwards; margin: var(--bottom-line-double);}
.line-3-1-3 {animation: typing 2s 2s linear backwards; margin-top: 0;}

.line-3-2-1 {animation: typing 2s 0.5s linear backwards;}
.line-3-2-2 {animation: typing 2s 1.5s linear backwards;}

/* 404 */
.line-4-1-1 {animation: typing 2s 0.5s linear backwards;}
.line-4-1-2 {animation: typing 2s 1.5s linear backwards; margin: var(--bottom-line-double);}
.line-4-1-3 {animation: typing 2s 2s linear backwards; margin-top: 0;}

.line-4-2-1 {animation: typing 2s 0.5s linear backwards;}
.line-4-2-2 {animation: typing 2s 2.5s linear backwards;}

.line-4-3-1 {animation: typing 2s 0.5s linear backwards;}
.line-4-3-2 {animation: typing 2s 2.5s linear backwards; margin-top: 0;}
.line-4-3-3 {animation: typing 2s 4.5s linear backwards; margin-top: 0;}
.line-4-3-4 {animation: typing 2s 6.5s linear backwards; margin-top: 0;}
/* arrow */
.line-4-3-5 {animation: typing 2s 0.5s linear backwards;}
.line-4-3-6 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-4-3-7 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-4-3-8 {animation: typing 2s 6.5s linear backwards;margin: var(--bottom-line-quadra);}
.line-4-3-9 {animation: typing 2s 8.5s linear backwards;margin-top: 0;}

.line-4-4-1 {animation: typing 2s 0.5s linear backwards;}
.line-4-4-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-4-4-3 {animation: typing 2s 4.5s linear backwards;margin: var(--bottom-line-double);}

.line-4-5-1 {animation: typing 2s 0.5s linear backwards;}
.line-4-5-2 {animation: typing 2s 2s linear backwards;}


/* 405 */
.line-5-1-1 {animation: typing 2s 0.5s linear backwards;}
.line-5-1-2 {animation: typing 2s 1.5s linear backwards; margin: var(--bottom-line-double);}
.line-5-1-3 {animation: typing 2s 2s linear backwards; margin-top: 0;}

.line-5-2-1 {animation: typing 2s 0.5s linear backwards;}
.line-5-2-2 {animation: typing 2s 1.5s linear backwards;}


/* 406 */
.line-6-1-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-1-2 {animation: typing 2s 1.5s linear backwards; margin: var(--bottom-line-double);}
.line-6-1-3 {animation: typing 2s 2s linear backwards; margin-top: 0;}

.line-6-2-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-2-2 {animation: typing 2s 1.5s linear backwards; margin: var(--bottom-line-double);}
.line-6-2-3 {animation: typing 2s 2s linear backwards; margin-top: 0;}

.line-6-3-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-3-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-6-3-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-6-3-4 {animation: typing 2s 6.5s linear backwards; margin: var(--bottom-line-quadra);}
.line-6-3-5 {animation: typing 2s 8.5s linear backwards; margin-top: 0;}

.line-6-4-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-4-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-6-4-3 {animation: typing 2s 4.5s linear backwards;margin: var(--bottom-line-double);}

.line-6-5-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-5-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-6-5-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-6-5-4 {animation: typing 2s 6.5s linear backwards;margin-top: 0;}
.line-6-5-5 {animation: typing 2s 8.5s linear backwards;margin-top: 0;}
.line-6-5-6 {animation: typing 2s 10.5s linear backwards;margin: var(--bottom-line-penta);}

.line-6-6-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-6-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-6-6-3 {animation: typing 2s 4.5s linear backwards;margin: var(--bottom-line-double);}

.line-6-7-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-7-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-6-7-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-6-7-4 {animation: typing 2s 6.5s linear backwards;margin-top: 0;}
/* arrow */
.line-6-8-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-8-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-6-8-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-6-8-4 {animation: typing 2s 6.5s linear backwards;margin-top: 0;}
.line-6-8-5 {animation: typing 2s 8.5s linear backwards;margin-top: 0;}
.line-6-8-6 {animation: typing 2s 10.5s linear backwards;margin-top: 0;}
/* arrow */
.line-6-9-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-9-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-6-9-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-6-9-4 {animation: typing 2s 6.5s linear backwards;margin-top: 0;}
.line-6-9-5 {animation: typing 2s 8.5s linear backwards;margin-top: 0;}
.line-6-9-6 {animation: typing 2s 10.5s linear backwards;margin: var(--bottom-line-penta);}

.line-6-10-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-10-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-6-10-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-6-10-4 {animation: typing 2s 6.5s linear backwards;margin-top: 0;}
.line-6-10-5 {animation: typing 2s 8.5s linear backwards;margin-top: 0;}
/* arrow */
.line-6-11-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-11-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-6-11-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}
.line-6-11-4 {animation: typing 2s 6.5s linear backwards;margin: var(--bottom-line-triple);}

.line-6-12-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-12-2 {animation: typing 2s 2.5s linear backwards;}

.line-6-13-1 {animation: typing 2s 0.5s linear backwards;}
.line-6-13-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0;}
.line-6-13-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0;}

/* 407 */
.line-7-1-1 {animation: typing 2s 0.5s linear backwards;}
.line-7-1-2 {animation: typing 2s 1.5s linear backwards; margin: var(--bottom-line-double);}
.line-7-1-3 {animation: typing 2s 2s linear backwards; margin-top: 0;}

.line-7-0-1 {animation: typing 2s 0.5s linear backwards;}

.line-7-2-1 {animation: typing 2s 0.5s linear backwards; }
.line-7-2-2 {animation: typing 2s 2.5s linear backwards; }

.line-7-3-1 {animation: typing 2s 0.5s linear backwards;}
.line-7-3-2 {animation: typing 2s 2.5s linear backwards; margin-top: 0;}
.line-7-3-3 {animation: typing 2s 4.5s linear backwards; margin-top: 0;}
.line-7-3-4 {animation: typing 2s 6.5s linear backwards; margin: var(--bottom-line-triple);}

.line-7-4-1 {animation: typing 2s 0.5s linear backwards; }
.line-7-4-2 {animation: typing 2s 2.5s linear backwards; }

.line-7-5-1 {animation: typing 2s 0.5s linear backwards; }
.line-7-5-2 {animation: typing 2s 2.5s linear backwards; }

.line-7-6-1 {animation: typing 2s 0.5s linear backwards; }
.line-7-6-2 {animation: typing 2s 2.5s linear backwards; margin-top: 0;}
.line-7-6-3 {animation: typing 2s 4.5s linear backwards; margin-top: 0;}
.line-7-6-4 {animation: typing 2s 6.5s linear backwards; margin: var(--bottom-line-triple);}

.line-7-7-1 {animation: typing 2s 0.5s linear backwards; }

.line-7-8-1 {animation: typing 2s 0.5s linear backwards; }
.line-7-8-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0; }
.line-7-8-3 {animation: typing 2s 4.5s linear backwards; margin-top: 0;}
/* arrow */
.line-7-9-1 {animation: typing 2s 0.5s linear backwards; }
/* arrow */
.line-7-10-1 {animation: typing 2s 0.5s linear backwards; }
/* arrow */
.line-7-11-1 {animation: typing 2s 0.5s linear backwards; }
/* arrow */
.line-7-12-1 {animation: typing 2s 0.5s linear backwards; }
.line-7-12-2 {animation: typing 2s 2.5s linear backwards; }

.line-7-13-1 {animation: typing 2s 0.5s linear backwards; }
.line-7-13-2 {animation: typing 2s 2.5s linear backwards; margin: var(--bottom-line-triple);}
.line-7-13-3 {animation: typing 2s 4.5s linear backwards; margin-top: 0;}
.line-7-13-4 {animation: typing 2s 6.5s linear backwards; margin-top: 0;}

.line-7-14-1 {animation: typing 2s 0.5s linear backwards; }
.line-7-14-2 {animation: typing 2s 2.5s linear backwards; margin-top: 0;}
/* arrow */
.line-7-15-1 {animation: typing 2s 0.5s linear backwards; }

.line-7-16-1 {animation: typing 2s 0.5s linear backwards; }
/* arrow */
.line-7-16-2 {animation: typing 2s 0.5s linear backwards; }
.line-7-16-3 {animation: typing 2s 4.5s linear backwards; }

.line-7-17-1 {animation: typing 2s 0.5s linear backwards; }
/* arrow */
.line-7-17-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0; }
.line-7-17-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0; }
.line-7-17-4 {animation: typing 2s 6.5s linear backwards;margin-top: 0; }
.line-7-17-5 {animation: typing 2s 8.5s linear backwards;margin: var(--bottom-line-quadra); }

.line-7-18-1 {animation: typing 2s 0.5s linear backwards; }
.line-7-18-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0; }
.line-7-18-3 {animation: typing 2s 4.5s linear backwards;margin: var(--bottom-line-triple); }
.line-7-18-4 {animation: typing 2s 6.5s linear backwards; margin-top: 0;}

.line-7-19-1 {animation: typing 2s 0.5s linear backwards; }
.line-7-19-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0; }
.line-7-19-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0; }
.line-7-19-4 {animation: typing 2s 6.5s linear backwards;margin-top: 0; }
.line-7-19-5 {animation: typing 2s 8.5s linear backwards;margin-top: 0; }
/* arrow */
.line-7-20-1 {animation: typing 2s 0.5s linear backwards; }
.line-7-20-2 {animation: typing 2s 2.5s linear backwards;margin-top: 0; }
.line-7-20-3 {animation: typing 2s 4.5s linear backwards;margin-top: 0; }
