.container {
    background-image: url("../image/7th_floor/7층-라운지.jpg");
}

.dialogue-box2 {
    position: absolute;
    top: 35vw; 
    left: 24vw;
    width: 62vw;
    height: 20vw; 
    z-index: 16;
    opacity: 1;
    display: none;
}

.dialogue-box {
    opacity: 0.8;
    
}


/* gif */
    .band {
        position: absolute;
        width: 16.9vw;
        top: 40.65vw;
        left: 25.9vw;}

    .band1 {display: block;} 
    .band2 {
        display: none;
        top: 40.75vw;
    } 
    .band3 {
        display: none;
        top: 40.45vw;
    } 

/* bartender */

.bartender__gif {
    width: 5vw;
    top: 12.7vw;
    left: 60.4vw;
}

/* hyun */
.big-hyun__gif {
    top: 22.7vw;
    left: 69.6vw;
    width: 3.2vw;
}

.movingarrow__big-hyun {
    top: 17vw;
    left: 69.5vw;
}

/* star */

.star__gif {
    top: 21.3vw;
    left: 33.3vw;
    width: 5.3vw;
}

.illust {
    position: absolute;
    top: 2.7vw;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    z-index: 15;
    display: none;
}

.star__avatar {
    width: 24vw;
    top: 32vw;
    left: 6.5vw;
}

.entrancediv {
    top: 4.5vw;
    left: 38.4vw;
    width: 6vw;
    height: 15.3vw;
    /* border: black 1px solid; */
}

.whitespace {
    top: 4.45vw;
    left: 38vw;
    width: 6.6vw;
    display:none;
}