/*basement password popup*/

.password-popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 56.25vw;
    z-index: 0;
    background-color: #ffffff;
}

    .password-popup:target {
        display: block;
        position: absolute;
        z-index: 1000;
    }

    /*the close button*/
    .password_popup__close {
        color: #aaa;
        position: absolute;
        top: 3%;
        right: 2%;
        font-size: 5vw;
        z-index: 10;
        line-height: 0.5;
        text-decoration: none;
    }

        .password_popup__close:hover,
        .password_popup__close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }


    .password-popup__img {
        position: absolute;
        width: 35vw;
        top: 10vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .password-popup__label {
        position: absolute;
        font-size: 1.5vw;
        top: 35vw;
        width: 100%;
        text-align: center;
        font-family: 'Nanum Myeongjo', serif;
    }

    .password-popup__textbox {
        position: absolute;
        top: 39.5vw;
        left: 50%;
        transform: translateX(-50%);
        width: 25vw;
        height: 6vh;
        font-size: 20px;
        text-align: center;
    }

    .password-popup__button {
        position: absolute;
        top: 45vw;
        left: 50%;
        transform: translateX(-50%);
        width: 15vw;
    }