/*//// global elements ////*/

    /* item */
    .icon {
        -webkit-filter: drop-shadow(3px 3px 3px #222);
        filter: drop-shadow(3px 3px 3px #222);
    }
    .icon:hover {
        cursor: pointer;
    }
            

    /* fullscreen */
    .fullscreen {
        position: absolute;
        top: 53vw;
        left: 1.5vw;
        
    }
    .fullscreen-checkbox {
        font-size:2vw;
        color: #ffddfc;
    }

        #check {
            display: none;
        }

    .fullscreen-text {
        font-family: 'Noto Serif KR', serif;
        font-size: 1.2vw;
        vertical-align: 3.7px;
        color: #ffddfc;
    }

    /* map */

    .map-icon {
        height: 5vw;
        position: absolute;
        top: 20vw;
        left: 2vw;
        z-index: 10;
    }

    .map-contents {
        display: none;
    }

    #item-background {
        z-index: 21;
    }

    .map-image {
        position: absolute;
        height: 50vw;
        top: 3vw;
        left: 50%;
        transform: translateX(-50%);
        z-index: 22;
    }

    .close-x {
        position: absolute;
        top: 5vw;
        left: 80vw;
        font-size: 4vw;
        z-index: 20vw;
        color:#8f8f8f;
        z-index: 22;
    }

        .close-x:hover {
            color: #d1d1d1;
            cursor: pointer;
        }



    /* score */

    .scores {
        position: absolute;
        font-family: 'Noto Serif KR', serif;
        left: 90vw;
        top: 2vw;
        z-index: 10;
    }

    .scoreboard {
        height: 8vw;
        -webkit-filter: drop-shadow(3px 3px 3px #222);
        filter: drop-shadow(3px 3px 3px #222);
    }

    .score__text {
        font-size: 1vw;
        position: absolute;
        top: 2vw;
        left: 2.2vw;
        /* text-align: center; */
    }
    .score {
        font-size: 2.4vw;
        position: absolute;
        top: 3.4vw;
        left: -0.7vw;
        text-align: center;
        width: 100%;
    }



    /* reset */
    .reset-icon {
        position: absolute;
        font-size: 3.6vw;
        color: #fff;
        opacity: 0.8;
        top: 51vw;
        left: 95vw;
        z-index: 1;
        transform-origin: center center;
        transition: transform 400ms;
    }

    .reset-icon:hover {
        transform: rotate(180deg);
    }



    /* arrow icon */

    .movingarrow {
        position: absolute;
        width: 3vw;
        animation: updown 0.7s alternate ease-in-out infinite;
        display: none;
        z-index: 1;
    }

        @keyframes updown {
            from {margin-top: 1.5vw;}
            to {margin-top: 0;}
        }


    /* fade */

    .fade-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
        height: 56.25vw;
        background-color: #000000;
        z-index: 2000;
        /* display: none; */
    }



    /* graphic elements */

    .container {
        
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100vw auto;
        height: 56.25vw;
        overflow: hidden;
    }

    .gif {
        position: absolute;
        z-index: 0;
    }

        .gifhover:hover {
            filter: /*saturate(120%)*/ brightness(110%) /*contrast(110%)*/;
            cursor: pointer;
        }



        
    /* dialogue elements */


    .dialogue-box {
        position: absolute;
        top: 35vw; /*36.5vw*/
        left: 24vw;
        width: 62vw;
        height: 20vw; /*18vw */
        background-color: #FFF;
        border: #000000 2px solid;
        border-radius: 20px;
        z-index: 15;
        display: none;
        opacity: 0.8;
    }

    .dialogue-box2 {
        position: absolute;
        top: 35vw; 
        left: 24vw;
        width: 62vw;
        height: 20vw; 
        z-index: 15;
        opacity: 1;
        display: none;
    }

    .dialogue-box-reset {
        position: absolute;
        top: 35vw; /*36.5vw*/
        left: 24vw;
        width: 62vw;
        height: 20vw; /*18vw */
        background-color: #FFF;
        border: #000000 2px solid;
        border-radius: 20px;
        z-index: 1000;
        display: none;
        opacity: 1;
    }

    .avatar {
        position: absolute;
        z-index: 20;
        display: none;
    }

    .transparent-background {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
        height: 56.25vw;
        background-color: #000000;
        opacity: 0.8;
        z-index: 11;
    }

    .reset-tb {
        z-index: 999;
    }

    .name {
        font-family: 'Noto Serif KR', serif;
        font-size: 1.7vw;
        margin: 1.5vw 0 1.5vw 6vw;
        font-weight: bold;
    }

    .big-hyun__avatar {
        width: 15.4vw;
        top: 34vw;
        left: 14vw;
    }





    /* line elements */

    :root {
        --font-size: 1.2vw;
        --first-line: 0vw 0 0 6vw;
        --one-top-line: 10vw 0 0 6vw;
        --two-top-lines: 8.4vw 0 0 6vw;/*differnece: 1.6vw*/
        --three-top-lines: 6.8vw 0 0 6vw;
        --four-top-lines: 5vw 0 0 6vw;
        --five-top-lines: 3.4vw 0 0 6vw;
        --six-top-lines: 1.8vw 0 0 6vw;
        --line-height: 1.5;
    }

    .line {
        font-family: 'Noto Serif KR', serif;
        /* font-family: 'Noto Sans KR', sans-serif; */
        overflow: hidden; 
        white-space: nowrap;
        display: none;
        font-size: 1.2vw;
        font-size: var(--font-size);
        line-height: 1.5;
        line-height: var(--line-height);
        max-width: 55vw;
    }

        .top-line {
            margin: 0vw 0 0 6vw;
            margin: var(--first-line);
        }

        .bottom-line {
            margin: 10vw 0 0 6vw;
            margin: var(--one-top-line);
        }

        /* timing */
        .first-line {animation: typing 1.5s 0.3s linear backwards;}
        .second-line {animation: typing 1.5s 1.8s linear backwards;}
        .third-line {animation: typing 1.5s 3.3s linear backwards;}
        .fourth-line {animation: typing 1.5s 4.8s linear backwards;}
        .fifth-line {animation: typing 1.5s 6.3s linear backwards;}
        .sixth-line {animation: typing 1.5s 7.8s linear backwards;}
        .seventh-line {animation: typing 1.5s 9.3s linear backwards;}
        .eighth-line {animation: typing 1.5s 10.8s linear backwards;}

        .fast-yes-line {animation: typing 1.5s 1s linear backwards;}
        .fast-no-line {animation: typing 1.5s 1.3s linear backwards;}

        @keyframes typing {
            from {width: 0;}
            to {width: 100%;}
        }

        /* margin */
        .next-line {margin-top: 0;}
        .one-topline {margin: 10vw 0 0 6vw; margin: var(--one-top-line);}
        .two-toplines {margin: 8.4vw 0 0 6vw; margin: var(--two-top-lines);}
        .three-toplines {margin: 6.8vw 0 0 6vw; margin: var(--three-top-lines);}
        .four-toplines {margin: 5vw 0 0 6vw; margin: var(--four-top-lines);}
        .five-toplines {margin: 3.4vw 0 0 6vw; margin: var(--five-top-lines);}
        .six-toplines {margin: 1.8vw 0 0 6vw; margin: var(--six-top-lines);}


    .clicker {
        color: blue;
        font-family: 'Noto Serif KR', serif;
        text-decoration: none;
    }

        .clicker:hover {
            cursor: pointer;
            text-decoration: underline;
            color: blue;
        }


    .nextarrow {
        animation: flash 0.6s 4.5s linear infinite alternate;
    }

        .nextarrow:hover {
            cursor: pointer;
        }

        @keyframes flash {
            from {opacity: 0;}
            to {opacity: 1;}
        }

    strong { font-weight: bold; }

    a:link, a:visited {
        text-decoration: none;
        color: blue;
    }