/*//// global elements ////*/


    /* item */

    .icon:hover {
        cursor: pointer;
    }
            


        /* map */

        .map-icon {
            height: 5vw;
            position: absolute;
            top: 20vw;
            left: 2vw;
            z-index: 10;
        }

        .map-contents {
            display: none;
        }

        #item-background {
            z-index: 21;
        }

        .map-image {
            position: absolute;
            height: 50vw;
            top: 3vw;
            left: 50%;
            transform: translateX(-50%);
            z-index: 22;
        }

        .close-x {
            position: absolute;
            top: 5vw;
            left: 80vw;
            font-size: 4vw;
            z-index: 20vw;
            color:#8f8f8f;
            z-index: 22;
        }

            .close-x:hover {
                color: #d1d1d1;
                cursor: pointer;
            }



    /* score */

    .scores {
        position: absolute;
        font-family: 'Noto Serif KR', serif;
        left: 90vw;
        top: 2vw;
        z-index: 10;
    }

    .scoreboard {
        height: 8vw;
    }

    .score__text {
        font-size: 1vw;
        position: absolute;
        top: 2vw;
        left: 2.2vw;
        /* text-align: center; */
    }
    .score {
        font-size: 2.4vw;
        position: absolute;
        top: 3.4vw;
        left: -0.7vw;
        text-align: center;
        width: 100%;
    }





    /* arrow icon */

    .movingarrow {
        position: absolute;
        width: 2.5vw;
        animation: updown 0.7s alternate ease-in-out infinite;
        display: none;
        z-index: 1;
    }

        @keyframes updown {
            from {margin-top: 1.5vw;}
            to {margin-top: 0;}
        }


    /* fade */

    .fade-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
        height: 56.25vw;
        background-color: #000000;
        z-index: 2000;
        /* display: none; */
    }



    /* graphic elements */

    .container {
        
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100vw auto;
        height: 56.25vw;
        overflow: hidden;
    }

    .gif {
        position: absolute;
        z-index: 0;
    }

        .gif:hover {
            cursor: pointer;
        }

    .gifhover:hover {
        filter: saturate(120%) brightness(105%) contrast(105%);
    }



        
    /* dialogue elements */

    .dialogue {
        display: none;
        z-index: 10;
    }

    .dialogue-box {
        position: absolute;
        top: 35vw; /*36.5vw*/
        left: 24vw;
        width: 62vw;
        height: 20vw; /*18vw */
        background-color: #FFF;
        border: #000000 2px solid;
        border-radius: 20px;
        z-index: 15;
        display: none;
    }

    .avatar {
        position: absolute;
        z-index: 20;
        display: none;
    }

    .transparent-background {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
        height: 56.25vw;
        background-color: #000000;
        opacity: 0.8;
        z-index: 11;
    }

    .name {
        font-family: 'Noto Serif KR', serif;
        font-size: 1.7vw;
        margin: 1.5vw 0 1.5vw 6vw;
        font-weight: bold;
    }

    .big-hyun__avatar {
        width: 15.4vw;
        top: 33.8vw;
        left: 14vw;
    }





    /* line elements */

    :root {
        --font-size: 1.2vw;
        --first-line: 0vw 0 0 6vw;
        --one-top-line: 10vw 0 0 6vw;
        --two-top-lines: 8.4vw 0 0 6vw;/*differnece: 1.6vw*/
        --three-top-lines: 6.8vw 0 0 6vw;
        --four-top-lines: 5vw 0 0 6vw;
        --five-top-lines: 3.4vw 0 0 6vw;
        --six-top-lines: 1.8vw 0 0 6vw;
        --line-height: 1.5;
    }

    .line {
        font-family: 'Noto Serif KR', serif;
        /* font-family: 'Noto Sans KR', sans-serif; */
        overflow: hidden; 
        white-space: nowrap;
        display: none;
        font-size: var(--font-size);
        line-height: var(--line-height);
        max-width: 55vw;
    }

        .top-line {
            margin: var(--first-line);
        }

        .bottom-line {
            margin: var(--one-top-line);
        }

        /* timing */
        .first-line {animation: typing 1.5s 0.3s linear backwards;}
        .second-line {animation: typing 1.5s 1.8s linear backwards;}
        .third-line {animation: typing 1.5s 3.3s linear backwards;}
        .fourth-line {animation: typing 1.5s 4.8s linear backwards;}
        .fifth-line {animation: typing 1.5s 6.3s linear backwards;}
        .sixth-line {animation: typing 1.5s 7.8s linear backwards;}
        .seventh-line {animation: typing 1.5s 9.3s linear backwards;}
        .eighth-line {animation: typing 1.5s 10.8s linear backwards;}

        .fast-yes-line {animation: typing 1.5s 1s linear backwards;}
        .fast-no-line {animation: typing 1.5s 1.3s linear backwards;}

        @keyframes typing {
            from {width: 0;}
            to {width: 100%;}
        }

        /* margin */
        .next-line {margin-top: 0;}
        .one-topline {margin: var(--one-top-line);}
        .two-toplines {margin: var(--two-top-lines);}
        .three-toplines {margin: var(--three-top-lines);}
        .four-toplines {margin: var(--four-top-lines);}
        .five-toplines {margin: var(--five-top-lines);}
        .six-toplines {margin: var(--six-top-lines);}


    .clicker {
        color: blue;
        font-family: 'Noto Serif KR', serif;
        font-size: var(--player-font-size);
        text-decoration: none;
    }

        .clicker:hover {
            cursor: pointer;
            text-decoration: underline;
            color: blue;
        }


    .nextarrow {
        animation: flash 0.6s 4.5s linear infinite alternate;
    }

        .nextarrow:hover {
            cursor: pointer;
        }

        @keyframes flash {
            from {opacity: 0;}
            to {opacity: 1;}
        }

    strong { font-weight: bold; }

    a:link, a:visited {
        text-decoration: none;
        color: blue;
    }