.preloader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:#ffffff;
}

.circle {
    position: absolute;
    margin: 0 auto;
    width: inherit;
    height: inherit;
    overflow: hidden;
    z-index: 1010;
}

.circle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    width: 45vw;
    height: 45vw;
    box-shadow: 0px 0px 0px 1000px #000000;
}

/* delete 'infinite' at use*/
    
.chain {
    position: absolute;
    z-index: 1000;
    width: 1.5vw;
    /* left: 50%;
    transform: translateX(-50%); */
    animation: chain-falling 6s linear infinite;
}

    .chain-1 {left: 36%;}
    .chain-2 {left: 62.5%;}

.elevator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 19vw;
}
    
/*animations*/
    
@keyframes chain-falling {
    0% { top: 0vw; }
    100% { top: -70vw; }
}