.container {
    background-image: url("../image/index/배경.jpg  ");   
    font-family: 'Noto Serif KR', serif;
}

.white {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
    height: 56.25vw;
    background-color: #eeeeee;
    z-index: 2000;
    display: none;
}

.black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
    height: 56.25vw;
    background-color: #000000;
    z-index: 2000;
    display: none;
}

.sign {
    position: absolute;
    top: 3.4vw;
    left: 50%;
    transform: translateX(-50%);
    width: 15.1vw;
    z-index:2;
}

.light {
    position: absolute;
    top: -2vw;
    left: 50%;
    transform: translateX(-50%);
    width: 23.1vw;
    z-index: 1;
    animation: flash 3s ease-in-out infinite alternate backwards;
}

.doorset {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.doorframe {
    position: absolute;
    top: 17vw;
    left: 50%;
    transform: translateX(-50%);
    width: 15vw;
}

.door {
    position: absolute;
    top: 18.8vw;
    left: 50%;
    transform: translateX(-23.5vw);
    width: 29.4vw;
    z-index:10;
}

.door1 {
    transform: translateX(-52.4%);
    width: 12.8vw;
}

.door2, .door3, .door4 {
    display: none;
}

.doorknob {
    position: absolute;
    top: 28.9vw;
    left: 50%;
    transform: translateX(1vw);
    width: 4vw;
    z-index: 12;
    transform-origin: center 10%;
    
}

.doorsign {
    position: absolute;
    top: 28.3vw;
    left: 50%;
    /* transform: translateX(3vw); */
    width: 3vw;
    z-index: 11;
    transform-origin: 146% 17%;
    transform: translateX(3vw);
    animation: rotate 5s 1s ease-in-out infinite;
}

.message {
    font-size: 1.3vw;
    letter-spacing: 0px;
    position: absolute;
    top: 47vw;
    left: 50%;
    transform: translateX(-50%);
    color: #ffddfc;
    animation: flashtext 1.5s ease infinite alternate backwards;
}

.revisit {
    font-size: 1.1vw;
    letter-spacing: 0.4px;
    position: absolute;
    top: 49.5vw;
    left: 50%;
    transform: translateX(-50%);
    color: #ffddfc;
    opacity: 0.8;
}

.revisit:hover {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.credits {
    position: absolute;
    top: 54vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1vw;
    color: #ffddfc;
}

@keyframes flash {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

@keyframes flashtext {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes rotate {
    0% {transform: rotate(0deg) translateX(3vw);}
    20% {transform: rotate(18deg) translateX(3vw);}
    30% {transform: rotate(-7deg) translateX(3vw);}
    39% {transform: rotate(5deg) translateX(3vw);}
    47% {transform: rotate(-3deg) translateX(3vw);}
    55% {transform: rotate(0.5deg) translateX(3vw);}
    61% {transform: rotate(-0.4deg) translateX(3vw);}
    66% {transform: rotate(0deg) translateX(3vw);}
    100% {transform: rotate(0deg) translateX(3vw);}
}

    /* fullscreen */
    .fullscreen {
        position: absolute;
        top: 53vw;
        left: 1.5vw;
    }

    .fullscreen-checkbox {
        font-size:2vw;
        color: #ffddfc;
    }

        #check {
            display: none;
        }

    .fullscreen-text {
        font-family: 'Noto Serif KR', serif;
        font-size: 1.2vw;
        vertical-align: 3.7px;
        color: #ffddfc;
    }

/* modal */
.modal-window {
    width: 35vw;
    height: 11vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;  
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 1.2vw;
    display: none;
    transition: all 1s 400ms;
}

#index-tb {
    opacity:0.5;
    transition: opacity .15s linear;
}

.modal-contents {
    margin: 3vw;   
}

    /* contents-1 */

    .contents-1 h1 {
        margin-bottom: 0.5vw;
    }

    .contents-1 h3 {
        display: inline;
    }

    #playerName {
        height: 2vw;
        width: 12vw;
        border-radius: 4px;
        border: 2px solid #cccccc;
        font-family: 'Noto Serif KR', serif;   
        font-size: 1.2vw;
        margin-top: 0.5vw;
    }

    #playerNameButton {
        font-family: 'Noto Serif KR', serif; 
        font-size: 1.2vw;
    }

    /* contents-2 */

    .contents-2 {
        margin-top: 3vw;
        display: none;
    }

        .contents-2 select {
            margin-top: 1vw;
        }

        select, .contents-2 input {
            font-family: 'Noto Serif KR', serif; 
            font-size: 1.2vw;
        }

