.container {
    background-image: url("../image/index/배경.jpg  ");   
}

.white {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
    height: 56.25vw;
    background-color: #eeeeee;
    z-index: 2000;
    display:none;
}

.black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
    height: 56.25vw;
    background-color: #000000;
    z-index: 2000;
    display:none;
}



.sign {
    position: absolute;
    top: 3.4vw;
    left: 50%;
    transform: translateX(-50%);
    width: 15.1vw;
    z-index:2;
}

.light {
    position: absolute;
    top: -2vw;
    left: 50%;
    transform: translateX(-50%);
    width: 23.1vw;
    z-index: 1;
    animation: flash 3s ease-in-out infinite alternate backwards;
}

.doorset {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.doorframe {
    position: absolute;
    top: 17vw;
    left: 50%;
    transform: translateX(-50%);
    width: 15vw;
}

.door {
    position: absolute;
    top: 18.8vw;
    left: 50%;
    transform: translateX(-23.5vw);
    width: 29.4vw;
    z-index:10;
}

.door1 {
    transform: translateX(-52.4%);
    width: 12.8vw;
}

.door2, .door3, .door4 {
    display: none;
}

.doorknob {
    position: absolute;
    top: 28.9vw;
    left: 50%;
    transform: translateX(1vw);
    width: 4vw;
    z-index: 12;
    transform-origin: center 10%;
    
}

.doorsign {
    position: absolute;
    top: 28.3vw;
    left: 50%;
    /* transform: translateX(3vw); */
    width: 3vw;
    z-index: 11;
    transform-origin: 146% 17%;
    transform: translateX(3vw);
    animation: rotate 5s 1s ease-in-out infinite;
}

.message {
    font-family: 'Noto Serif KR', serif;
    font-size: 1.3vw;
    letter-spacing: 1.2px;
    position: absolute;
    top: 47vw;
    left: 50%;
    transform: translateX(-50%);
    color: #ffddfc;
    animation: flashtext 1.5s ease infinite alternate backwards;
}

.credits {
    font-family: 'Noto Serif KR', serif;
    position: absolute;
    top: 54vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1vw;
    color: #ffddfc;
}

@keyframes flash {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

@keyframes flashtext {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes rotate {
    0% {transform: rotate(0deg) translateX(3vw);}
    20% {transform: rotate(18deg) translateX(3vw);}
    30% {transform: rotate(-7deg) translateX(3vw);}
    39% {transform: rotate(5deg) translateX(3vw);}
    47% {transform: rotate(-3deg) translateX(3vw);}
    55% {transform: rotate(0.5deg) translateX(3vw);}
    61% {transform: rotate(-0.4deg) translateX(3vw);}
    66% {transform: rotate(0deg) translateX(3vw);}
    100% {transform: rotate(0deg) translateX(3vw);}
}