.container {
    background-image: url("../image/index/배경.jpg  ");   
    font-family: 'Noto Serif KR', serif;
}

.white {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
    height: 56.25vw;
    background-color: #eeeeee;
    z-index: 2000;
    display: none;
}

.black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
    height: 56.25vw;
    background-color: #000000;
    z-index: 2000;
    display: none;
}

.sign {
    position: absolute;
    top: 3.4vw;
    left: 50%;
    transform: translateX(-50%);
    width: 15.1vw;
    z-index:2;
}

.light {
    position: absolute;
    top: -2vw;
    left: 50%;
    transform: translateX(-50%);
    width: 23.1vw;
    z-index: 1;
    animation: flash 3s ease-in-out infinite alternate backwards;
}

.doorset {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.doorframe {
    position: absolute;
    top: 17vw;
    left: 50%;
    transform: translateX(-50%);
    width: 15vw;
}

.door {
    position: absolute;
    top: 18.8vw;
    left: 50%;
    transform: translateX(-23.5vw);
    width: 29.4vw;
    z-index:10;
}

.door1 {
    transform: translateX(-52.4%);
    width: 12.8vw;
}

.door2, .door3, .door4 {
    display: none;
}

.doorknob {
    position: absolute;
    top: 28.9vw;
    left: 50%;
    transform: translateX(1vw);
    width: 4vw;
    z-index: 12;
    transform-origin: center 10%;
    
}

.doorsign {
    position: absolute;
    top: 28.3vw;
    left: 50%;
    /* transform: translateX(3vw); */
    width: 3vw;
    z-index: 11;
    transform-origin: 146% 17%;
    transform: translateX(3vw);
    animation: rotate 5s 1s ease-in-out infinite;
}

/* 문을 클릭하여...! */
.message {
    font-size: 1.3vw;
    letter-spacing: 0px;
    position: absolute;
    top: 47vw;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    animation: flashtext 1.5s ease infinite alternate backwards;
}

/* 이미 방문하신 적이 있나요? */
.revisit {
    font-size: 1.1vw;
    letter-spacing: 0.4px;
    position: absolute;
    top: 49.5vw;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    opacity: 0.6;
}
    .revisit:hover {
        opacity: 1;
        text-decoration: underline;
        cursor: pointer;
    }

.copyright {
    position: absolute;
    top: 54vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1vw;
    color: #ffffff;
    display: inline;
}

.info-circle {
    font-size: 1vw;
    color: #ffffff;
}
    .info-logo {
        position: absolute;
        height: 3vw;
        top: 52.3vw;
        left: 95.8%;    
        font-size: 1vw;
        color: #ffddfc;
        opacity: 0.4;
    }

    .info-logo:hover, .info-logo:focus {
        opacity: 1;
        cursor: pointer;
    }


@keyframes flash {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

@keyframes flashtext {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes rotate {
    0% {transform: rotate(0deg) translateX(3vw);}
    20% {transform: rotate(18deg) translateX(3vw);}
    30% {transform: rotate(-7deg) translateX(3vw);}
    39% {transform: rotate(5deg) translateX(3vw);}
    47% {transform: rotate(-3deg) translateX(3vw);}
    55% {transform: rotate(0.5deg) translateX(3vw);}
    61% {transform: rotate(-0.4deg) translateX(3vw);}
    66% {transform: rotate(0deg) translateX(3vw);}
    100% {transform: rotate(0deg) translateX(3vw);}
}

/* fullscreen */
.fullscreen {
    position: absolute;
    top: 54vw;
    left: 1.5vw;
}
    .fullscreen-checkbox {
        font-size:1.2vw;
        color: #ffffff;
    }
        #check {
            display: none;
        }

    .fullscreen-text {
        font-family: 'Noto Serif KR', serif;
        font-size: 1vw;
        vertical-align: 3px;
        color: #ffffff;
        margin-left: 0.2vw;
    }

/* modal */
.modal-window {
    width: 35vw;
    height: 21vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 1.2vw;
    display: none;
    transition: height 1s;
    border: 1px solid rgba(0,0,0,.2);
}



#index-tb { 
    display: none;
    opacity: 0.3;
}

.modal-contents {
    margin: 3vw;   
    margin-top: 2.5vw;
}

.modal-contents__credit {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
}

    /* modal-header */
    .modal-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 5vw;
        margin-bottom: 2vw;
    }

    .modal-close {
        position: absolute;
        left: 90%;
        top: 5%;
        font-size: 2.5vw;
        color: #aaaaaa;
    }

    .modal-close:hover,
    .modal-close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    /* contents-1 */

    .contents-1, .contents-2 {
        text-align: center;
    }

    .contents-1 {
        margin-bottom: 2.5vw;
    }

    .contents-1 h1 {
        margin-bottom: 0.5vw;
    }

    .line-2 {
        margin-bottom: 2vw;
    }

    .contents-1 h3 {
        display: inline;
    }

    #playerName {
        height: 2vw;
        width: 10vw;
        border-radius: 4px;
        border: 2px solid #cccccc;
        font-family: 'Noto Serif KR', serif;   
        font-size: 1.2vw;
        margin-top: 0.5vw;
    }

    input[type=button] {
        font-family: 'Noto Serif KR', serif;
        font-size: 1.2vw;
        width: 6vw;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #ffffff;
        background-color: #9c00b2;
        border-radius: 65px;
        margin-left: 10px;
        height: 2.2vw;
    }

    #playerNameButton:hover {
        cursor: pointer;
        background-color: #860097;
    }

    /* contents-2 */

    .contents-2 {
        border-top: 1px solid #d7d7d7;
        padding-top: 3vw;
        display: none;
    }

        .contents-2 select {
            margin-top: 1vw;
        }

        select, .contents-2 input {
            font-family: 'Noto Serif KR', serif; 
            font-size: 1.2vw;
        }

/* credits modal */

.credit-modal {
    /* width: 55vw;
    height: 37vw; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 1.2vw;
    display: none;;
    padding: 1vw 4vw;
    font-size: 1.2vw;
    line-height: 1.7vw;
    border: 1px solid rgba(0,0,0,.2);
}

.credit-modal i {
    font-size: 1.5vw;
    margin-top: 20px;
    margin-left: 10px;
}

.credit-modal a:link, .credit-modal a:visited {
    color: #000000;
}

.illustrator, .developer {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.credit-modal img {
    margin-bottom: 1vw;
}

.illustrator img {
    width: 15vw;
}

.developer img {
    width: 25vw;
    margin-left :3vw;
}






/* confirm popup */
.confirm-popup {
    width: 31vw;
    height: 13vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1020;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 1.2vw;
    display: none;
    border: 1px solid rgba(0,0,0,.2);
}

.confirm-popup-contents {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.confirm-popup p {
    margin-bottom: 0.5vw;
}

#confirm_tb {
    z-index: 1010;
    opacity: 0.5;
}

.info-popover {
    position: absolute;
    width: 5vw;
    height: 10vw;
    background-color: #ffffff;
    top: 20vw;
    left: 20vw;
}

#moveToFloor {
    margin-top: 1vw;
    margin-right: 1vw;
}


.info-circle .tooltiptext {
    line-height: 1.4vw;
    visibility: hidden;
    background-color: #ffffff;
    font-size: 1vw;
    font-family: 'Noto Serif KR', serif;
    color: #404040;
    border-radius: 20px;
    padding: .6vw;
    position: absolute;
    z-index: 1;
    bottom: 182%;
    left: 65%;
    text-align: left;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    word-break: keep-all;
    border: 1px solid rgba(0,0,0,.2);
}
    #ratioInfo .tooltiptext {
        width: 13vw;
        left: 70%;
    }
    #contentsInfo .tooltiptext {
        /* visibility: visible; */
        width: 17vw;
        left: 56.5%;
    }

    a:hover {
        text-decoration: underline;
    }


.info-circle .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5vw;
    border-width: 0.5vw;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

#ratioInfo:hover .tooltiptext__ratioInfo, #contentsInfo:hover .tooltiptext__contentsInfo {
    visibility: visible;
}