body {
    background-color: #000000;
}

.dialogue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    word-break: keep-all;
    display:none;
}

    .dialogue-1 {
        display: block;
    }

    .dialogue-2 {
        display: none;
    }

    .dialogue-3 {
        display: none;
    }

.line {
    text-align: center;
    color: #fff;
    font-size: 2vw;
    margin-bottom: 1em;
    opacity: 0;
    font-family: 'Noto Serif KR', serif;
}

    .line-1 {animation: fadein 2s 1s forwards;}

    .line-2 {animation: fadein 2s 2s forwards;}

    .line-3 {animation: fadein 2s 3s forwards;}

    .line-4 {animation: fadein 2s 1s forwards;}

    .line-5 {animation: fadein 2s 2s forwards;}

    .line-6 {animation: fadein 2s 1s forwards;}

    .line-7 {animation: fadein 2s 2s forwards;}

.arrow {
    opacity: 0;
    color: #fff;
    font-size: 1.5vw;
}

    .arrow:hover {
        cursor: pointer;
    }

.arrow-1 {
    animation: fadein 0.5s 3s infinite alternate;
}

.arrow-2 {
    animation: fadein 0.5s 2s infinite alternate;
}



.linkbox {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -25%);
    text-decoration: none;
    display: none; 
    justify-content: center;

}

    .linkbox__logo {
        width: 7vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .linkbox__text {
        opacity: 1;
        font-size: 1.7vw;
        color: #818181;
    }

    .linkbox:hover > svg path, .linkbox:hover > .linkbox__text {
        fill: #fff;
        color: #fff;
    }

    #Layer_1 {
        width: 7vw;
        height: 7vw;
        display: block;
        margin-bottom: 2vw;
        margin-right: auto;
        margin-left: auto;
    }

.fade-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*width를 안정하면 제대로 화면에 안뜨고, z-index가 제대로 적용안되서 gif가 앞으로옴..*/
    height: 56.25vw;
    background-color: #000000;
    display:none;
    z-index: 2000;
}

a {z-index: 0;}
    
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

